[build]
  command="ng build"
  publish="dist/pc7-client"

[[plugins]]
  package = "netlify-plugin-cypress"

  [plugins.inputs.postBuild]
    enable = true

  [plugins.inputs]
    enable = false

[[redirects]]
  from = "/*"
  to = "/index.html"
  force = true
  status = 200
