@font-face {
  font-family: customF;
  src: url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
}

:root {
  --r1: #781212;
  --r2: #ff0505;
  --b1: #090909;
  --b2: #171717;
  --b3: #2a2a2a;
  --g1: #4a4a4a;
  --g2: #8c8c8c;
  --e1: rgba(225, 5, 5, 0.15);
  --a1: rgba(58, 58, 58, 0.85);
}

body {
  background-color: #000;
  margin: 0px;
  padding: 0px;
  font-family: customF;
}

.boxbody {
  border-radius: 20px;
  width: 66%;
  padding: 10px;
  background-color: var(--b1);
  border: 1px solid transparent;
  margin: 5% 17% auto 17%;
  box-shadow: 0px 0px 15px 1px #ffffff;
  min-width: fit-content;
  min-height: fit-content;
}

a:hover {
  cursor: pointer;
}

#container>h2 {
  color: white;
  text-shadow: 2px 0 0 var(--r1), -1px 0 0 var(--r1), 0 1px 0 var(--r1),
    0 -1px 0 var(--r1), 0.5px 0.5px var(--r1), -0.5px -0.5px 0 var(--r1),
    0.5px -0.5px 0 var(--r1), -0.5px 0.5px 0 var(--r1);
  font-family: customF;
  margin: 0% 2% 0% 2%;
}

#container>h3 {
  color: white;
  text-shadow: 2px 0 0 var(--r2), -2px 0 0 var(--r2), 0 2px 0 var(--r2),
    0 -2px 0 var(--r2), 1px 1px var(--r2), -1px -1px 0 var(--r2),
    1px -1px 0 var(--r2), -1px 1px 0 var(--r2);
  font-size: 42px;
  font-family: customF;
  margin: 1% 2% 0% 2%;
  text-align: center;
}

#container>h4 {
  color: var(--b1);
  font-family: customF;
  margin: 4% 2% 0% 2%;
  text-align: center;
}

.container {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.sep10 {
  margin-top: 10px;
}

.sep20 {
  margin-top: 20px;
}

.sep30 {
  margin-top: 30px;
}

.butt {
  width: 20%;
  padding: 2% 5%;
  background: var(--b1);
  user-select: none;
  border-radius: 10px;
  min-width: fit-content;
  min-height: fit-content;
  font-size: calc(0.5em + 1.25vw);

  border: solid 1px #fff;
  box-shadow: 0px 0px 10px 0px #fff;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.butt:hover {
  box-shadow: inset 0px 0px 10px 0px #fff, 0px 0px 16px 0px #fff;
}

.hide {
  visibility: hidden !important;
  display: none !important;
  width: 0px !important;
  height: 0px !important;
}

#log {
  resize: vertical;
  cursor: pointer;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--b1);
}

::-webkit-scrollbar-track-piece {
  background-color: var(--g1);
}

::-webkit-scrollbar-thumb {
  height: 25%;
  background-color: var(--g2);
}

::-webkit-scrollbar-corner {
  background-color: var(--b1);
}

.logo img {
  padding: 30px 0;
  width: 100%;
}

.resource-list {
  font-family: Helvetica, Arial, sans-serif;
  font-size: larger;
  padding: 10px;
  text-align: center;
}

.resource-list ul {
  text-align: left;
  margin: 0 auto;
  width: 300px;
}

.resource-list a {
  color: black;
  line-height: 30px;
}

footer {
  bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  text-align: center;
}

footer img {
  width: 20px;
}

#title>span {
  font-size: calc(1rem + 3vw);
}

#particle {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  background: #000;

}

.deepshadow {
  text-shadow: 10px 10px 25px var(--a1),
    -10px 10px 25px var(--a1),
    -10px -10px 25px var(--a1),
    10px -10px 25px var(--a1);
}

.navbar {
  background-color: transparent;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: rgba(255, 255, 255, 0.596);
  color: rgb(255, 255, 255);
}